.search {
  &__input {
    background-color: var(--color-ui-mid);
    border: none;
    border-radius: 20px;
    color: var(--color-font-body);
    font: inherit;
    outline: none;
    padding: 5px 20px;
    width: clamp(300px, 60%, 700px);

    &:focus {
      border: 1px solid var(--color-ui-dark);
    }
  }
}