:root {
  // Primary
  --color-primary: purple;

  // Fonts
  --color-font-body: #333333;
  --color-font-light: #7a7a7a;

  // Interface
  --color-ui-header: #ffffff;
  --color-ui-sidebar: #ffffff;
  --color-ui-mid: #dfdfdf;
  --color-ui-dark: #333333;
}